<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Example Client</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
<body>


<h1>websocket - python -osc bridge</h1>

<p>
With the buttons on this page you send messages over websocket to a python script listening to the websocket and passing the recieved messages along as OSC messages to a NodeMCU listening to OSC messages and controlling some leds.
</p>
<p>
    <i>html page -> python script (using flask) -> OSC -> nodeMCU -> LEDS</i>
</p>


<h3>Commands</h3>
<button type="button" onclick="setRandom()">randomColor</button>
<br><br>

<div id="videoFrame">
    <iframe src="https://meet.jit.si/MatureHighlightsStarveYet" title="jitsi" width="100%" height="600" style="border:none;" allow="microphone; camera"></iframe>
</div>


<h3>Messages</h3>
<div class="message_holder"></div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    const socket = io(window.location.protocol + '//' + document.domain + ':' + location.port);


    socket.on( 'connect_failed', function( arg )
    {
        console.log("websocket connection failed", arg );
    } );

    socket.on('connect', function()
    {
        console.log("connecting to websocket");
    } );

    // when we receive a 'registration' event
    socket.on( 'message_event', function( msg )
    {
        console.log( msg )
        for ( key in msg )
        {
            $( 'div.message_holder' ).append( key + " = " + msg[key] + "</br>" );
        }
        $( 'div.message_holder' ).append( '---</br>' );
    } );

    function setRandom(){
        socket.emit( 'message_event', "setRandomColor" );
    }

</script>

</body>
</html>
